container_commands:
  01_create:
    command: "mkdir /efs"
    test: "[ ! -e /efs ]"
  02_chown:
    command: "sudo chown ec2-user:ec2-user /efs"
    test: "[ ! -e /efs ]"

packages:
  yum:
    amazon-efs-utils: []

commands:
  01_mount:
    command: "sudo mount -t efs fs-9a8566bb:/ efs"
    test: "[ ! -e /efs ]"
