<% vertical = vertical || false %>
<% clazz = vertical ? 'form__button-container-vertical' : 'form__button-container' %>
<div class="<%= clazz %>">
  <a href="#form-anchor" class="form__application-button form__button">
    <span>農機具選びについて</span>
    <p>無料相談</p>
  </a>
  <a href="tel:<%= contact_phone_number %>" class="form__tel-button form__button">
    <span>電話相談はこちら</span>
    <p>
      <span class="icon">
        <i class="fas fa-phone"></i>
      </span>
      <span><%= Settings.phone.contact %></span>
    </p>
  </a>
</div>
