- breadcrumb(:sell_makers)

// 買い取りジャンルも幅広く対応
section.sell-lp-section.sell-lp-section-genre
  = render 'sell/section_header', title: "下記メーカーを中心に対応しております！"
  = render 'sell/makers'

= render 'buttons', position: "画面上部"

= render 'sell/common/flow'

= render 'sell/common/faq'

= render 'buttons_compact', position: "画面下部"

// お問い合わせフォーム
section.sell-lp-section.sell-lp-section-form#form
  .container
    = render 'form', form: @sell_form

= render "sell_lp_footer"
