section.hero
  .hero-body
    .container.content
      h2.title.has-text-centered
        | 会社概要
      .columns
        .column.is-12-mobile.is-8-tablet.is-offset-2-tablet
          table.table
            tbody
              tr
                th
                  | 会社名
                td
                  | 株式会社ファーマリー
              tr
                th
                  | 代表取締役
                td
                  | 石泰成
              tr
                th
                  | 所在地
                td
                  | 東京本社　〒150-0001 東京都神宮前渋谷区神宮前1-10-34原宿コーポ別館415号室
                  br
                  | 千葉支店　〒287-0222 千葉県成田市前林112-13
                  br
                  | 電話番号：090-3942-9192
                  br
                  | メール：teson.seki@farmally,jp
              tr
                th
                  | 創立
                td
                  | 2018年8月6日
              tr
                th
                  | 資本金
                td
                  | 107,975,000円（資本準備金含む）
              tr
                th
                  | 事業内容
                td
                  | ファーマリーの開発・運営
                  br
                  | 農業機械の卸・販売・修理業
