<section class="hero">
  <div class="hero-body eye-catch">
    <div class="container content">
      <div class="columns is-right is-centered">
        <div class="column is-8 ">
          <div class="eye-catch-text">
            <h1 class="is-size-2 has-text-weight-bold">中古農機が、探せる、見つかる</h1>
            <p>
              全国の農機店が出品している中古農機を希望の条件に応じて検索できます。
              探し方がわからない場合は、無料でファーマリーがご相談に乗ります。
              無料相談ボタンから、電話か問合せフォームでご依頼頂けます。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container content search-from-category">
      <h3 class="title">種類から農機具を探す</h3>
      <div class="columns is-mobile is-multiline">
        <% Category.all.limit(8).each do |c| %>
          <div class="column is-6-mobile is-3-tablet has-text-centered is-3-desktop">
            <%= link_to(category_path(c), class: 'category') do %>
              <%= image_tag 'sample-tractor.png' %>
              <p><%= c.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
