<section class="hero is-light is-small">
  <div class="hero-head">
    <header id="navbar" class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/public/images/logo.png">
            &nbsp;&nbsp;Farmally
          </a>
          <div id="navbarBurger" class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
<!--        <div id="navMenu" class="navbar-menu">-->
<!--          <div class="navbar-end">-->
<!--            <div class="navbar-item">-->
<!--              <a class="button is-warning is-rounded" href="" target="_blank">-->
<!--                利用開始-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="navbar-item">-->
<!--              <a class="button is-rounded" href="" target="_blank">-->
<!--                ログイン-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container eye-catch content">
      <div class="columns is-right is-centered">
        <div class="column is-8 ">
          <div class="eye-catch-text">
            <h1 class="is-size-2 has-text-weight-bold">
            中古農機が、探せる、見つかる
            </h1>
            <p class="has-text-dark">
              全国の農機店が出品している中古農機を
              希望の条件に応じて検索できます。
              探し方がわからない場合は、無料でファーマリーがご相談に乗ります。
              無料相談ボタンから、電話か問合せフォームでご依頼頂けます。
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="hero is-small is-white">
  <div class="hero-body">
    <div class="container has-text-centered content">
      <a class="button is-link is-medium is-rounded" href="TODO: Google Formのリンク" target="_blank">
        農機具選びを無料相談する
      </a>
    </div>
  </div>
</section>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container content">
      <h2 class="title has-text-centered">
        種類から農機具を探す
      </h2>
      <div class="columns has-text-centered">
        <a class="column category">
          トラクター
        </a>
        <a class="column category">
          コンバイン
        </a>
        <a class="column category">
          田植え機
        </a>
        <a class="column category">
          アルミブリッジ
        </a>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="hero is-white">
  <div class="hero-body">
    <div class="container content">
      <h2 class="title has-text-centered">
        新着記事一覧
      </h2>
      <div class="columns has-text-centered">

      </div>
    </div>
  </div>
  </div>
</section>
<!--<section class="hero is-white">-->
<!--  <div class="hero-body">-->
<!--    <div class="container content">-->
<!--      <h2 class="title has-text-centered-tablet">-->
<!--        Farmallyの特徴-->
<!--      </h2>-->
<!--      <div class="columns">-->
<!--        <div class="column is-4 has-text-centered-tablet">-->
<!--          <!-- Flexなカードビューをおく -->-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<%= render :partial => '/footer' %>