- set_meta_tags title: @title
section.section.sale-item__detail
  .container
    .columns.is-centered
      .column
        - breadcrumb(@sale_item)
        = render partial: '/breadcrumb'
    .columns.is-centered.main
      .column.is-12-mobile.is-6-tablet.is-6-desktop.has-text-centered
        #sale-item-image.slick-slide-container data-url=(item_sale_item_images_path(sale_item_id: @sale_item, item_id: @item))
      .column.is-12-mobile.is-6-tablet.is-6-desktop
        h1.title
          = @sale_item.name
          - if @sale_item.name
            br
          = @sale_item.model
          br
          = number_to_currency(@sale_item.price)
        .columns.buttons
          .column.is-12-mobile.is-12-tablet.is-12-desktop
            |  <a href="tel:
            = contact_phone_number
            | " class="button form-button phone-button" onClick="gtag('event', '「電話お問い合わせ」クリック', { 'event_category': '出品商品' });"> 
            span.icon
              i.fas.fa-phone
            span
              | 電話お問い合わせ
          .column.is-12-mobile.is-12-tablet.is-12-desktop
            a.js-open-modal.button.form-button.contact-button(
              href="#"
              onclick="gtag('event', '「この商品に関して問い合わせる」クリック', { 'event_category': '出品商品' });"
              data-target="js-sale-item-inquiry-modal")

              span.icon
                i.fas.fa-envelope
              span
                | この商品に関して
                br.only-sp
                | 問い合わせる
        .detail
          table.table
            tbody
              tr
                th
                  = @sale_item.class.human_attribute_name(:price)
                td
                  = number_to_currency(@sale_item.price)
              /tr
                th
                  = @sale_item.class.human_attribute_name(:prefecture_code)
                td
                  = @sale_item.prefecture_name
              /tr
                th
                  = @sale_item.class.human_attribute_name(:year)
                td
                  = @sale_item.year_text
              tr
                th
                  = @sale_item.class.human_attribute_name(:horse_power)
                td
                  = @sale_item.horse_power_with_unit
              tr
                th
                  = @sale_item.class.human_attribute_name(:used_hours)
                td
                  = @sale_item.used_hours_with_unit
              tr
                th
                  = @sale_item.class.human_attribute_name(:status)
                td
                  = @sale_item.display_status
section.section.sale-item__detail
  - @sale_item.detail_with_template.tables.each do |table|
    table.table
      caption
        = table.name
      tbody
        - table.properties.each do |property|
          tr
            th
              = property.name
            td
              = property.value.presence || "-"
    br

// お問い合わせモーダル
.modal#js-sale-item-inquiry-modal
  .modal-background
  .modal-content[style="background-color: white; padding: 40px;"]
    div
      p.title.is-3.is-spaced
        | お問い合わせ
    = form_for(@inquiry, url: item_sale_item_sale_item_inquiries_path(item_id: @item, sale_item_id: @sale_item), method: :post) do |f|
      .field
        = f.label :name, @inquiry.class.human_attribute_name(:name) + " (必須)", class: "label"
        = f.text_field :name, class: "input", placeholder: "お名前", required: true
      .field
        = f.label :phone_number, @inquiry.class.human_attribute_name(:phone_number) + " (必須)", class: "label"
        = f.telephone_field :phone_number, class: "input", placeholder: "電話番号", required: true
      .field
        = f.label :contents, @inquiry.class.human_attribute_name(:contents) + " (任意)", class: "label"
        = f.text_area :contents, class: "textarea", placeholder: "詳しく聞きたい。相談したい。など"
      = f.submit "送信する", class: "button is-success", onClick: "gtag('event', '問い合わせフォーム「送信する」クリック', { 'event_category': '出品商品' });"
  button.modal-close.is-large[aria-label="close" onclick="gtag('event', 'お問い合わせモーダル閉じるボタンクリック', { 'event_category': '出品商品' });"]
