<% content_for :title do %>Home<% end %>
<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">Home</h1>
</header>
<section class="main-content__body">
  <%= form_tag admin_import_path, multipart: true do %>
    <div class="field-unit field-unit--string">
      <div class="field-unit__label">
        <label>File(CSV)</label>
      </div>
      <div class="field-unit__field">
        <%= file_field_tag :file %>
      </div>
    </div>
    <div class="form-actions">
      <%= submit_tag 'Import' %>
    </div>
  <% end %>
</section>
