article.review
  .reviewer
    p
      = review.name.present? ? review.name : '名前なし'
  .stars
    - unless review.star_unselected?
      - point = review.star_count
      - (1..point).each do |i|
        span.icon.star
          i.fas.fa-star
      - (point...5).each do |i|
        span.icon.star
          i.far.fa-star
    - else
      p
        | 評価なし
  .date
    p
      = review.created_at.strftime('%Y年%m月%d日')
  .columns
    - if review.picture.attached?
      .column.is-12-mobile.is-4-tablet.is-4-desktop
        = image_tag url_for(review.picture), class: 'review-picture'
      .column.is-12-mobile.is-8-tablet.is-8-desktop
        .content
          = review.content.blank? ? '-' : with_read_more(review.id, review.content, 'review')
    - else
      .column
        .content
          = review.content.blank? ? '-' : with_read_more(review.id, review.content, 'review')
  .buttons-container
    = form_with(url: likes_review_path(review), local: true) do |form|
      = button_tag type: 'submit', class: 'button like-button' do
        i.far.fa-heart
        span
          = review.like_count
          | 件
    = link_to '返信する', new_review_review_comment_path(review), class: 'button reply-button'
  .comments
    - review.review_comments.each do |comment|
      - if comment.approved
        = render partial: 'items/review_comment', locals:{ comment: comment }
