<article class="media review">
  <figure class="media-left">
    <% if review.picture.attached? %>
      <div class="review-picture" style="background-image: url('<%= url_for(review.picture) %>');"></div>
    <% else %>
      <div class="review-picture"></div>
    <% end %>
  </figure>
  <div class="media-content">
    <div class="content">
      <% unless review.star_unselected? %>
        <p><%= '★' * review.star_before_type_cast %></p>
      <% else %>
        <p>評価なし</p>
      <% end %>
      <p><%= review.content.blank? ? '-' : simple_format(h(review.content)) %></p>
    </div>
  </div>
</article>
