<% @property_template.detail.tables.each do |table| %>
  <table class="property-table">
    <caption><%= table.name %></caption>
    <thead>
      <tr>
        <td>属性</td>
        <td>値</td>
      </tr>
    </thead>
    <tbody>
      <% table.properties.each do |property| %>
        <tr>
          <td><%= property.property_name %><%= hidden_field_tag "sale_item[properties_json][attributes][][key]", property.property_key %></td>
          <td><%= text_field_tag "sale_item[properties_json][attributes][][value]" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<% end %>
