// 出品商品一覧
.sale-item-list {
  // 出品商品columns
  .sale-item-columns {
    .sale-item-column {
      color: black;

      .sale-item {
        background-color: white;
        border: 1px solid gray;
        font-size: 0.8em;
        padding: 8px;

        .sale-item-model-name {
          font-weight: bold;
          overflow: hidden;
          padding-bottom: 4px;
          img {
            display: block;
            float: left;
            width: 36px;
          }

          span {
            display: block;
            padding-left: 4px;
            float: left;
          }
        }

        .table {
          background-color: whitesmoke;
          margin-bottom: 4px;
          width: 100%;

          .price-td {
            background-color: black;
            color: white;
            text-align: center;
            span {
              font-size: 0.8em;
              padding-right: 4px;
            }
          }

          td {
            border: 1px solid gray;
          }
        }

        .detail-link {
          background-color: #ff112e;
          color: white;
          width: 100%;
          display: block;
          text-align: center;
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }
}
