@import "item_list_page";
@import "header";
@import "footer";

.modal {
  z-index: 100;
}

.breadcrumb {
  background-color: $background-grey;
  padding: 8px 24px;

  li {
    white-space: pre-wrap;
    word-break: break-all;
  }

  .is-active {
    font-weight: bold;
  }
}

// カテゴリーボタン
.category-button-columns {
  margin-bottom: 24px;
  .column {
     padding: 0.3rem;

    .category-button {
      background: linear-gradient(white, #ddd);
      font-size: 0.8em;
      height: 70px;
      white-space: normal;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

// 出品商品column
.item-column {
  color: black;

  .item {
    background-color: white;
    border: 1px solid gray;
    font-size: 0.8em;
    padding: 8px;
    height: 100%;

    &.sold-out {
      filter: brightness(55%);
    }

    .item-model-name {
      font-weight: bold;
      padding-bottom: 4px;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        display: block;
        width: 36px;
      }

      span {
        display: block;
        padding-left: 4px;
      }
    }

    .image {
      height: 150px;
      margin-bottom: 8px;

      img {
        height: 150px;
        width: 100%;
        object-fit: cover;
      }
    }

    .table {
      background-color: $background-grey;
      margin-bottom: 4px;
      width: 100%;

      .price-td {
        background-color: black;
        color: white;
        text-align: center;
        span {
          font-size: 0.8em;
          padding-right: 4px;
        }
      }

      td {
        border: 1px solid gray;
      }
    }

    .detail-link {
      background-color: #ff112e;
      color: white;
      width: 100%;
      display: block;
      text-align: center;
      height: 32px;
      line-height: 32px;
    }
  }
}

// 電話、お問い合わせフォームボタン
.inquiry-buttons {
  .button {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100%;
    padding: 8px;
  }

  .inquiry-message {
    text-align: center;
    margin-bottom: 8px;
  }

  .phone-number-button {
    border-radius: 16px;
    background-color: $inquiry-red;
    color: white;

    .staff-message {
      font-size: 0.8em;
    }

    img {
      width: 26px;
      vertical-align: sub;
    }

    .phone-number {
      margin-left: 4px;
    }
  }

  .inquiry-button {
    border-radius: 16px;
    background-color: $inquiry-blue;
    color: white;
    font-size: 1.5em;
    padding: 18px;
  }
}

// 商品一覧とか出品一覧系のリストの共通タイトル
.item-list-title {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;

  .counter {
    font-weight: normal;
    background-color: black;
    color: white;
    padding: 4px 16px;
    font-size: 0.8rem;
  }

  .title {
    padding: 8px 16px;
    font-size: 1em;
    background-color: $background-grey;
    font-weight: normal;
  }
}

.subcategory-narrow-down-title {
  margin-bottom:  12px;
}

.category-list-title {
  padding: 8px 0px;
}

.price-indicator {
  width: 100%;
  border-radius: 0;
  height: 240px;

  .price-header {
    height: 40px;
  }
  .price-content {
    height: 100px;
  }

  .price-footer {
    height: 40px;
  }
}
.sub-price-indicator {
  border-radius: 0;
  height: 108px;
}

