.button {
  font-weight: bold;
}

.button-small {
  @extend .button;

  border-radius: $border-radius-for-small-button;
  text-align: center;
  height: $height-for-small-button;
  width: $width-for-small-button;
  line-height: $line-height-default;
}

.button-large {
  @extend .button;

  border-radius: $border-radius-for-large-button;
  text-align: center;
  height: $height-for-large-button;
  width: $width-for-large-button;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: $font-size-large;
  line-height: $height-for-large-button;

  border: 1px solid;
}
