%button {
  font-weight: bold;
  text-align: center;

  padding: 0;
}

%button-small {
  @extend %button;

  border-radius: $border-radius-for-small-button;
  height: $height-for-small-button;
  width: $width-for-small-button;
  line-height: $line-height-default;
}

%button-large-free-width {
  @extend %button;

  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: $font-size-large;
  line-height: $height-for-large-button;

  border-radius: $border-radius-for-large-button;
  height: $height-for-large-button;

  border-width: 1px;
  border-style: solid;
}
%button-large {
  @extend %button-large-free-width;

  width: $width-for-large-button;

}