.buy {
  position: relative;

  @media screen and (max-width: $sp-max-width) {
    margin-top: 99px;
  }

  .title {
    color: $foreground-dark;
    font-size: $font-size-page-title-large;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 999;
    top: $margin-on-form-title-pc;

    @media screen and (max-width: $sp-max-width) {
      position: initial;
      font-size: $font-size-page-title-small-sp;
      margin-bottom: 0;
    }
  }

  &__main {

    display: flex;

    @media screen and (max-width: $sp-max-width) {
      display: block;
    }

    .title-area {
      .title {
        font-size: $font-size-page-title-large;
        margin-bottom: $margin-under-form-title;
        text-align: center;

        @media screen and (max-width: $sp-max-width) {
          font-size: $font-size-page-title-small-sp;
        }
      }
    }

    .subtitle {
      position: relative;
      font-size: $font-size-large;
      color: $foreground-dark;
      font-weight: bold;
      width: 100%;
      text-align: center;

      @media screen and (max-width: $sp-max-width) {
        font-weight: bold;
      }

      &::before,
      &::after {
        content: "";
        width: 27%;
        height: 1px;
        background-color: black;
        position: absolute;
        top: 50%;

        @media screen and (max-width: $sp-max-width) {
          top: calc(15% + #{$margin-mobile-subtitle-for-static});
          width: calc(100% / 3.2);
        }
      }

      &::before {
        left: 12%;

        @media screen and (max-width: $sp-max-width) {
          left: 1%;
        }
      }
      &::after {
        right: 1%;

        @media screen and (max-width: $sp-max-width) {}
      }

    }

    .buy-form,
    .line {
      width: 50%;
      padding-top: $margin-on-form-title-pc + $margin-on-form-title-pc + $font-size-page-title-large;

      @media screen and (max-width: $sp-max-width) {
        padding-top: 0;
        width: 100%;
      }

    }

    .buy-form {
      margin: 0 auto $margin-under-main-section auto;

      @media screen and (max-width: $sp-max-width) {
        width: 100%;
        margin-top: $margin-mobile-on-page-title-for-static;
        margin-bottom: $margin-under-main-section-sp;
        padding: 0 12px;
      }

      .subtitle {
        &::before,
        &::after {
          background-color: $border-color-gray;
        }

        @media screen and (max-width: $sp-max-width) {
          margin-bottom: 26px;
        }
      }

      .item-info {

        @media screen and (max-width: $sp-max-width) {
          margin-bottom: 28px;
        }

        &__title,
        &__content {
          display: inline-block;
          text-align: left;
          line-height: $line-height-note-of-message;
          margin: 0;
        }

        &__title {
          position: initial;
          font-size: inherit;
          font-weight: bold;
          width: 30%;

          &::after {
            content: "：";
          }
        }

        &__content {
          width: 70%;
          color: $accent-brown;
        }

      }

      .form-contents {
        margin: 0 72px;

        @media screen and (max-width: $sp-max-width) {
          margin: 0;
        }

        .form-parts-info {
          padding-bottom: 48px;
          border-bottom: 1px solid $border-color-gray;
        }

        .form-parts {
          &__input {
            max-width: 100%;
            width: 100%;
            height: 3rem;
            padding: 5px 9px;
            border: 1px solid transparent;
            border-color: $border-color-gray;
            box-shadow: inset 1px 1px 2px rgba(240, 240, 240, 0.7);
            font-size: $font-size-default;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
          }

          &__title {
            margin-bottom: $margin-under-form-parts-title;
      
            &__label {
              color: $foreground-dark;
              font-size: $font-size-default;
              font-weight: bold;
            }
      
            &__note {
              margin-top: $margin-on-form-parts-note;
              margin-bottom: $margin-under-form-parts-note;
              font-size: $font-size-smaller;
            }
      
          }
      
          &__input::placeholder,
          &__input::-ms-input-placeholder {
            color: $foreground-light;
            opacity: 0.5;
          }
      
          &__textarea {
            height: initial;
            padding: 10px 10px;
            line-height: 1.5;
          }
      
          &__checkbox {
            display: inline-block;
            position: relative;
            line-height: $line-height-checkbox-of-form;
      
            input[type=checkbox] {
              display: none;
            }
        
            input[type="checkbox"]:checked + label::after {
              background: $accent-blue-dark;
            }
        
            input[type="checkbox"]:checked + label::before {
              opacity: 1;
            }
        
            &__inline-label {
              position: relative;
              padding-left: $padding-in-inlin-label-of-form;
            }
        
            &__inline-label::before,
            &__inline-label::after {
              position: absolute;
              content: "";
              display: block;
              top: 50%;
            }
        
            &__inline-label::after {
              margin-top: -0.6em;
              width: 18px;
              height: 18px;
              border: 1px solid $border-color-gray;
              box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
            }
        
            &__inline-label::before {
              color: $background-default;
              left: 0.4em;
              margin-top: -0.30em;
              width: 0.3em;
              height: 0.6em;
              border-right: 0.15em solid $border-color-white;
              border-bottom: 0.15em solid $border-color-white;
              transform: rotate(45deg);
              opacity: 0;
              z-index: 999;
            }
        
            &__*::before,
            &__*::after {
              box-sizing: inherit;
            }
          }
        }

        .button-send {
          @extend %button-large;

          color: $foreground-white;
          background: $background-for-red-button;
          border-color: $border-for-red-button;
          box-shadow: $box-shadow-red-button-for-large-button;

          &:hover {
            color: $foreground-white;
            background: $background-for-red-button-hover;
            border-color: $border-for-red-button;
          }
        }
      }
    }

    .line {
      background-color: $background-light;

      @media screen and (max-width: $sp-max-width) {
        padding-top: 28px;
      }

      .subtitle {
        &::before,
        &::after {
          background-color: $border-color-white;
        }
      }

      .line-contents {
        text-align: center;

        &__line-logo {
          margin-top: 32px;
          margin: 0 auto;
          width: 80px;
          height: 80px;

          @media screen and (max-width: $sp-max-width) {
            margin-top: 30px;
          }
        }
  
        &__how-to {
          margin-top: 32px;
          line-height: $line-height-note-of-message;
          font-weight: bold;
          
          @media screen and (max-width: $sp-max-width) {
            margin-top: 28px;
          }
          
          .underline {
            background: linear-gradient(transparent 50%, #FFFF80 0%);
          }
        }
  
        &__add-friends {
          margin-top: 32px;
          display: flex;
          margin-left: auto;
          margin-right: auto;
          width: 220px + 24px;
          text-align: center;

          @media screen and (max-width: $sp-max-width) {
            margin-top: 32px;
          }
  
          & > div {
            width: 110px;
  
            &:last-child {
              margin-left: 24px;
            }
          }
  
          .line-title,
          .line-content {
            background-color: #FFF;
          }
  
          .line-title {
            width: 100%;
            position: initial;
            font-size: inherit;
            font-weight: inherit;
            margin-bottom: 2px;
            padding: 8px;
          }
  
          .line-content {
            height: 110px;
            line-height: 110px;
            font-size: $font-size-large;
            font-weight: bold;
          }
        }
  
        &__note {
          margin-top: 32px;
          font-size: $font-size-smaller;
          line-height: $line-height-note-of-message;
  
          @media screen and (max-width: $sp-max-width) {
            margin-top: 28px;
            padding-bottom: 96px;
          }
        }

        &__button {
          margin-top: 32px;
          @extend %button-large;

          color: $foreground-white;
          background: $background-for-red-button;
          border-color: $border-for-red-button;
          box-shadow: $box-shadow-red-button-for-large-button;

          &:hover {
            color: $foreground-white;
            background: $background-for-red-button-hover;
            border-color: $border-for-red-button;
          }
        }
      }
    }
  }
}