.category-about-section {
  padding: 0;
  margin-bottom: 16px;
}

.category-about {
  .category-about-title {
    background-color: #B99B80;
    color: white;
    margin-bottom: 8px;
    padding: 8px;
  }

  .category-about-contents {

  }
}
