// Place all the styles related to the concierge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sticky-header {
  position: sticky;
  background: white;
  z-index: 1;
  border-bottom: 1px solid #dbdbdb;
  top: 0;
}

.concierge {
  header {
    .logo {
      margin-right: 5px;
    }

    .logo-img {
      width: 200px;
    }
  }

  strong {
    color: #363636;
    background: linear-gradient(transparent 80%, #B99B80 0);
  }

  .eyecatch {
    @include from($desktop) {
      background-image: url("/assets/concierge/hero-image.jpg");
      background-position: center right 30%;
      background-repeat: no-repeat;
      background-size: 45%;
    }
  }
  .box {
    border-radius: 0;
  }

  .contact {
    border: solid 1px lightgrey;
    padding: 24px;
    min-height: 220px;
  }

  li.whom-its-for {
    margin-bottom: 16px;

    p {
      padding-left: 16px;
    }
  }
}

.section-headline {
  padding: 20px;
  background-color: #B99B80;
}

