footer.footer {
  background-color: $background-dark;
  padding: 0;
  color: $foreground-light;

  .columns {
    position: relative;
    width: $pc-max-width;
    margin: 0 auto;

    .menu-list {
      a {
        color: $foreground-light;
        padding: 0;
        border-radius: inherit;
        display: inherit;

        &:hover {
          text-decoration: underline;
          background-color: inherit;
        }
      }

      &.main {
        margin-top: $margin-48;
        font-weight: bold;

        li {
          margin-right: $margin-24;
        }
      }

      &.sub {
        margin-top: $margin-24;

        li {
          margin-right: $margin-24;
        }
      }
    }
    
    .copyright {
      position: absolute;
      bottom: $margin-48;
    }

    .info {
      margin-top: $margin-48;
      padding: $margin-16;
      border-radius: 10px;
      border: solid 1px $foreground-light;
    }

    button.inquiry {
      margin-top: $margin-16;
      margin-bottom: $margin-48;
      width: 100%;
    }
  }
}