.footer {
  background-color: $background-dark;
  padding: 0;
  color: $foreground-white;

  &__content {
    width: 85%;
    margin: 0 auto;
    display: flex;

    &__nav {

      width: 70%;

      &__menu {
        a {
          color: $foreground-light;
          padding: 0;
          border-radius: inherit;
          display: inherit;

          &:hover {
            text-decoration: underline;
            background-color: inherit;
          }
        }

        & > ul > li {
          display: inline-block;
          margin-right: $margin-between-footer-nav;

          &:last-of-type {
            margin-right: 0;
          }
        }

        &__list {
          &__main {
            padding-top: $margin-around-footer-content;
            font-weight: bold;
          }

          &__sub {
            margin-top: $margin-between-footer-nav;
          }

        }
      }

      &__copyright {
        position: absolute;
        bottom: $margin-around-footer-content;
      }
    }
        
    &__info {
      width: 30%;
      text-align: center;
      margin-bottom: $margin-around-footer-content;

      &__tel {
        margin-top: $margin-around-footer-content;
        padding: $margin-around-footer-info;
        border-radius: 10px;
        border: solid 1px $foreground-light;

        &__lead {
          font-size: 13px;
        }

        &__number {
          margin-top: $margin-on-footer-info-text;
          font-size: 24px;
          font-weight: bold;
        }

        &__reception-time {
          margin-top: $margin-on-footer-info-text;
          font-size: 13px;
        }
      }

      &__inquiry-button {
        @extend .button-large;

        background-color: $background-for-footer-inquiry-button;
        color: $foreground-white;

        margin-top: $margin-on-footer-inquiry-button;
        width: 100%;
      }
    }
  }
}