// ヘッダーメニュー
header#navbar {
  height: 4rem;

  @media screen and (min-width: 1088px) {
    height: 80px;
  }

  border-bottom: solid 1px $lightGrey;
  //background-color: white;

  .navbar-brand {
    .navbar-item {
      margin-right: 10px;

      .logo {
        margin-right: 5px;
      }

     .logo-img {
        width: 200px;
        max-height: none;
      }
    }

    #navbarBurger {
      span {
        color: $base-brown;
        height: 2px;
      }
    }
  }

  .navbar-burger {
    height: inherit;
  }

  .navbar-menu {
    padding-bottom: 0; // ハンバーガー展開した時の空白をなくす
    .navbar-item {

      &.navbar-item-phone-number {
        display: block;
        text-align: left;
        font-weight: bold;
        line-height: 1;
        padding-top: 17px;

        .phone-number {
          color: $greenDarken;
          font-size: 1.4em;
          margin-bottom: 8px;
        }
        .lead {
          font-size: 0.8em;
        }
      }
    }
  }

  form.search-box {
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;

    .control {
      @media screen and (min-width: 769px) {
        margin-right: 5px;
      }
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .select-type {
        color: gray;
        font-size: 13px;
      }

      .select {
        width: 220px;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        select {
          width: 100%;
        }
      }
    }
    a {
      margin-top: 19px;
      background-color: $base-brown;
      color: white;
      font-weight: bold;
      align-items: center !important;
      &:hover {
        background-color: darken($base-brown, 20%);
      }

      img {
        width: 24px;
      }
    }

    @media screen and (max-width: 768px) {
      .control {
        margin-bottom: 5px;
      }

      button {
        width: 100%;
      }
    }
  }
}

// フラッシュメッセージ
.notification {
  border-radius: 0;
  &.is-success {
    background-color: $success;
  }
  &.is-danger {
    background-color: $danger;
  }
}
