$navbar-link-height: 2em;
$logo-width: 200px;

// ヘッダーメニュー
header#navbar {

  .navbar-brand {
    .logo-img {
      width: $logo-width;
      max-height: none;
    }
  }

  .navbar-start {

    .navbar-item {
      padding: 0;
      line-height: $line-height-default;

      .navbar-item-inner {
        font-size: $font-size-nav-item;
        font-weight: bold;
        padding: 0 $margin-16;
        height: $navbar-link-height;
        display: flex;
        align-items: center;

        border-left: solid $border-size-nav-item-separate;

      }

      &:last-child > .navbar-item-inner {
        border-right: solid $border-size-nav-item-separate;
      }

      &:hover {
        text-decoration: underline;
        background-color: inherit;
        color: inherit;
      }

      &.is-current {
        border-bottom: solid $border-size-current-nav $accent-blue-dark;
      }
    }
  }

  .navbar-end {
    .navbar-end-item {
      display: flex;
      align-items: center;

      p {
        font-size: $font-size-smaller;
      }

      .reception-time {
        margin-top: $margin-4;
      }

      .phone-number {
        color: $accent-blue-dark;
        font-size: $font-size-tel-number-in-nav;
        font-weight: bold;
      }

      .inquiry {
        font-size: $font-size-smaller;
        color: $accent-blue-dark;
        background-color: $accent-blue-light;
      }
    }
  }
}