.navigation {
  color: $foreground-dark;
  border-bottom: 1px solid #F0F0F0;
  height: 48px;
  position: relative;

  & > * {
    display: inline-block;
  }

  &__logo {
    width: 20%;

    & img {
      height: inherit;
    }
  }

  &__burger {
    display: none;
  }

  &__menu {
    height: inherit;
    vertical-align: top;

    &__item {
      display: inline-block;
      box-sizing: border-box;
      height: inherit;
      padding: 10px 0;

      &.is-current {
        border-bottom: 3px solid $accent-blue-dark;
      }

      &__inner {
        padding: 6px 16px;
        border-left: 1px solid #F0F0F0;

        &__link {
          font-weight: bold;
        }
      }

      &:last-of-type > &__inner {
        border-right: 1px solid #F0F0F0;
      }

      & a:hover {
        text-decoration: underline;
      }
    }
  }

  &__info {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;

    &__lead {
      font-size: 12px;

      &__text {
        font-weight: bold;
        margin-top: 8px;
      }

      &__reception-time {
        margin-top: 4px;
      }
    }

    &__tel {
      margin-left: 8px;
      font-size: 20px;
      height: 48px;
      line-height: 48px;
      font-weight: bold;
      color: $accent-blue-dark;

    }

    &__inquiry-button {
      @extend %button-small;

      font-size: 12px;
      color: $accent-blue-dark;
      background: $background-for-gray-button;
      border-color: $border-for-gray-button;
      box-shadow: $box-shadow-gray-button-for-large-button;
      margin: 12px 8px 0;

      &:hover {
        color: $accent-blue-dark;
        background: $background-for-gray-button-hover;
        border-color: $border-for-gray-button;
      }
    }
  }
}