.c-is-accent {
  background-color: #2ACD9F;
}

.category {
  background-color: #2ACD9F;
  border-radius: 4px;
  color: white !important;
  margin: 4px;
}

.category:hover {
  color: black !important;
}
