.search-from-category {
  h3.title {
    border-bottom: solid 2px $base-brown;
    padding-bottom: 5px;
  }

  .category {
    background-color: white;
    position: relative;
    display: block;
    border: solid 2px $base-brown;
    box-sizing: border-box;
    line-height: 0;
    img {
      width: 100%;
      height: auto;
    }
    .name {
      position: absolute;
      bottom: 0;
      height: 50px;
      width: 100%;
      background-color: rgba(255, 248, 241, 0.8);
      font-weight: bold;
      color: #383838;
      font-size: 1.3rem;
      white-space: nowrap;
      overflow: hidden;
      display: flex;
      align-items: center;
      padding: 0 8px;
      img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.item-list {
  h1.title {
    border-bottom: solid 2px $base-brown;
    padding-bottom: 5px;

    .counter {
      font-weight: normal;
      font-size: 1rem;
      margin-right: 15px;
    }
  }

  a.item-detail {
    position: relative;
    display: block;
    border: solid 2px $base-brown;
    color: black;

    img {
      width: 100%;
      height: auto;
    }

    .item-desc {
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      width: 100%;
      padding: 5px 10px;

      .name {
        font-weight: bold;
        color: black;
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
      }

      .maker-price, .horse-power {
        color: black;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
      }

      .price {
        color: red;
        font-size: 1.4rem;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
