.home {
  $buy-color: #fb3c3c;
  $sell-color: #128b8e;
  $search-color: #feb64a;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

  //
  // 共通
  //
  section {
    margin: 0 auto 40px auto;
    width: 80%;
  }

  .view-all-button {
    background-color: #ffa500;
    border-color: #ffa500;
    color: #fff;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    padding: 0;
    width: 60%;
  }

  .spacer {
    height: 40px;
  }


  //.eye-catch-overlray {
  //  width: 100%;
  //  background-color: black;
  //  opacity: 0.8;
  //}

  .hero {
    &.eye-catch {
      width: 100%;
      background: image-url("eye-catch-3.png") no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: 2.5rem;
      background-blend-mode: screen, difference, darken;
    }

    .eye-catch-text {
      margin-top: 64px;
      margin-bottom: 32px;
      text-align: center;
      color: black;

      h1 {
        //background-color: $baseGreen;
        padding: 8px;
        color: white;
        font-size: 2.4em;
      }
    }

    .box {
      border-radius: 0;
      border-top: solid 12px $greenDarken;

      h2.title {
        font-size: 1.5em;
        font-weight: 900;
        color: $greenDarken;
      }
      h3.subtitle {
        font-size: 1em;
        font-weight: 900;
      }
      .content {
        margin-bottom: 16px;
        img {
          height: 150px;
        }
      }
      > button {
        border-color: $greenDarken;
      }
    }
  }

  // ファーマリーの特徴
  .feature-section {
    margin-top: 10px;
    text-align: center;

    .feature-columns {
      margin: 0 auto;
      width: 80%;

      @media screen and (max-width: 769px) {
        width: 100%;
      }
    }

    .title-image {
      img {
        width: 400px;
      }
    }

    .content-image {
      .question-image {
        width: 110px;
      }
    }

    .content-title {
      font-size: 1.8em;
      margin-top: 20px;
      text-align: center;

      .content-title-buy {
        border-bottom: 2px solid $buy-color;
        margin-right: 8px;
        padding-bottom: 4px;
      }

      .content-title-sell {
        border-bottom: 2px solid $sell-color;
        padding-bottom: 4px;
      }

      .content-title-search {
        border-bottom: 2px solid $search-color;
        padding-bottom: 4px;
      }
    }

    .content-text {
      color: $base-brown;
    }
  }

  // 検索フォーム
  .search-section {
    .search-box {
      background-color: $background-grey;
      margin: 0 auto 40px auto;
      padding: 16px;

      .select {
        width: 100%;

        select {
          width: 100%;
        }
      }

      .button {
        background-color: #363636;
        color: #fff;
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
  }


  // お問い合わせボタン
  .inquiry-buttons {
    margin-top: 40px;

    .inquiry-button {
      &.inquiry-button-buy {
        background-color: $sell-color;
      }

      &.inquiry-button-sell {
        background-color: $sell-color;
      }
    }
  }

  @mixin howto-section($base-color) {
    width: 80%;
  }

  .buy-section {
    @include howto-section($buy-color);
  }

  .sell-section {
    @include howto-section($sell-color);
  }


  .box.sell-item {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 300px;

    img {
      width: 300px;
      height: 240px;
      object-fit: cover;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cta {
        align-self: flex-end;
        width: 100%;
      }
    }
  }


  .box.sell-case {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 300px;

    img {
      width: 300px;
      height: 240px;
      object-fit: cover;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cta {
        align-self: flex-end;
        width: 100%;
      }
    }
  }


  // 新着記事
  .new-article-section {
    background: image-url("footer-eye-catch.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    width: 100%;
    margin-bottom: 0;

    .new-article-section-container {
      background-color: rgba(0, 0, 0, .3);
      min-height: 500px;

      .new-article-section-contents {
        margin: 0 auto;
        padding-top: 16px;
        width: 80%;

        .title {
          border-bottom: 3px solid;
          color: #fff;
          font-size: 1.2em;
          padding-bottom: 4px;
          padding-left: 8px;
        }
      }
    }

    #app {
      .column {
        .article-column-content {
          background-color: #fff;
          border-radius: 8px;
          font-size: .8em;
          height: inherit;
          padding: 16px;

          .thumbnail {
            background-color: #d3d3d3;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 200px;
            margin-bottom: 16px;
            width: 100%;
            @media screen and (min-width: 769px) {
              height: 144px;
              width: 100%;
            }
          }

          .title {
            border-bottom: 0;
            color: $base-brown;
            margin: 0 0 8px 0;
            padding: 0;
          }

          .description {
            color: #000;
          }
        }
      }
    }
  }
}


ol.nested-ol > li {
  list-style-type: none;
  list-style-position: inside;
  counter-increment: cnt;
}

ol.nested-ol > li:before {
  display: marker;
  content: "(" counter(cnt) ") ";
}

ol.upper-roman {
  list-style-type: upper-roman;
}
