// 商品一覧
.item-list {
  .category-title {
    border-bottom: solid 3px;
    border-top: solid 3px;
    padding: 8px 16px;
    font-weight: bolder;
  }

  .item-list-more-title {
    font-size: 1rem;
    font-weight: normal;
    margin: 16px;

    .category-name {
      font-weight: bold;
    }
  }

  .category-button-columns {
    margin: 12px;
  }

  .item-list-title {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;

    .counter {
      font-weight: normal;
      background-color: black;
      color: white;
      padding: 4px 16px;
      font-size: 0.8rem;
    }

    .title {
      padding: 8px 16px;
      font-size: 1em;
      background-color: whitesmoke;
      font-weight: normal;
    }
  }
}
