// 商品一覧
.item-list {
  .category-title {
    border-bottom: solid 3px;
    border-top: solid 3px;
    font-weight: bolder;
    padding: 8px 16px;
  }

  .item-list-more-title {
    font-size: 1rem;
    font-weight: normal;
    margin: 16px;

    .category-name {
      font-weight: bold;
    }
  }

  .category-button-columns {
    margin: 12px;
  }
}
