.item {
  // モデル名
  @mixin title {
    align-items: baseline;
    background-color: $background-grey;
    display: flex;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding: 8px 16px;

    @media screen and (max-width: 769px) {
      flex-direction: column;
    }

    span {
      font-size: 1rem;
      margin-left: 16px;
      @media screen and (max-width: 769px) {
        margin-left: 0px;
      }
    }
  }

  &__detail { // .item__detail
    box-sizing: border-box;
    padding-bottom: 30px;

    .main {
      .item-image {
        border: solid 12px lighten($base-brown, 20%);
        box-sizing: border-box;
        width: 100%;
      }

      .title {
        @include title;
      }

      // 要見積り・価格
      .prices {
        border: 1px solid;

        .farmally-price {
          color: #f00;
          padding: 32px;
          text-align: center;

          strong {
            color: #f00;
            font-size: 1.2rem;
          }

          span {
            font-size: .8em;
          }
        }

        .maker-price {
          background-color: #000;
          color: #fff;
          padding: 4px;
          text-align: center;

          span {
            font-size: .8em;
          }
        }
      }

      // 農機選びを無料相談する/農機を売るボタン
      .buttons {
        padding: 10px 0;

        &>.column:first-child {
          padding-bottom: 0px;
        }

        .form-button {
          box-sizing: border-box;
          color: #fff;
          font-size: 1.1rem;
          font-weight: bold;
          height: 72px;
          margin: 0;
          width: 100%;

          &.buy-button {
            background-color: $inquiry-red;

            @media screen and (max-width: 399px) {
              margin-bottom: -10px;
            }

            &:hover {
              background-color: darken($inquiry-red,10%);
            }

            span {
              @media screen and (min-width: 400px) {
                > .only-sp {
                  display: none;
                }
              }
              @media screen and (max-width: 399px) {
                font-size: 14px;
              }
            }
          }

          &.sell-button {
            background-color: $inquiry-blue;

            &:hover {
              background-color: darken($inquiry-blue, 10%);
            }
          }
        }
      }

      // 「基本情報」テーブル
      .detail-table {
        width: 100%;

        caption {
          background: linear-gradient(#fff, #ddd);
          border: 1px solid #ddd;
          padding: 4px;
          text-align: center;
        }

        th,
        td {
          border: 1px solid #ddd;
        }

        th {
          background-color: $background-grey;
          font-weight: normal;
          text-align: center;
          width: 40%;
        }
      }
    }
  }

  &__sale-items { // .item__sale-items
    .title {
      @include title;
    }
  }

  &__reviews { // .item__reviews
    .title {
      @include title;
    }

    .review-button {
      border: solid 2px $base-brown;
      border-radius: 5px;
      box-sizing: border-box;
      color: $base-brown;
      cursor: pointer;
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      height: 64px;
      line-height: 62px;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      text-decoration: none;
      width: 90%;

      &:hover {
        opacity: .6;
      }

      &:visited {
        color: $base-brown;
        text-decoration: none;
      }
    }

    .review {
      article {
        border: 1px solid #ddd;
        height: 100%;
        padding: 8px;

        .point-text {
          font-size: .9rem;
        }

        .fa-star {
          color: #ffa500;
        }

        img {
          height: 72px;
          max-height: 80px;
          max-width: 100%;
        }
      }
    }
  }
}
