.item-box.cassette {
  margin-bottom: 36px;

  .box {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    @include from(757px) {
      img {
        width: 240px;
        height: 240px;
        object-fit: cover;
      }
    }

    max-width: 880px;
    // TODO: replace it with $mobile

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .cta {
        align-self: flex-end;
        width: 100%;
      }
    }
  }
}
