// マージン
$sale-item-margin-pc: 28px;
$sale-item-margin-title: 24px;

.items {
  &__heading-title {
    width: 100%;
    height: 84px;
    line-height: 84px;
    padding-left: $sale-item-margin-title;
    background-image: url("/item-header.png");
    @media screen and (max-width: $sp-max-width) {
      background-image: url("/item-header-896.png");
      background-size: cover;
    }

    &__title {
      font-size: $font-size-larger;
      color: $foreground-white;
      font-weight: bold;
    }
  }

  &__contents {
    margin-top: $sale-item-margin-pc;
    margin-bottom: 96px;
    line-height: $line-height-default;

    @media screen and (max-width: $sp-max-width) {
      width: 100%;
    }
  }
}

.category-list {
  margin-left: 36px;
  margin-bottom: 16px;

  display: flex;
  list-style: none;

  @media screen and (max-width: $sp-max-width) {
    margin-left: 12px;
    margin-right: 12px;
  }

  &__item {
    margin-right: 16px;

    &__link {
      font-size: $font-size-large;
      color: $foreground-dark;
      font-weight: bold;

      &:hover {
        text-decoration: underline $foreground-gray;
      }

      &.is-current {
        color: $accent-blue-dark;
        pointer-events: none;
      }
    }
  }
}

.pagination-nav {
  margin: 0 $sale-item-margin-title;
  padding: 10px 10px 10px 12px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;

  white-space: nowrap;
  font-size: $font-size-default;
  background-color: $background-light;
  border-top: 1px solid $border-color-gray;

  @media screen and (max-width: $sp-max-width) {
    margin: 0;
    padding-right: 0 12px;
  }

  &__item-total-counts {
    font-size: 24px;
    font-weight: bold;
    color: $accent-blue-dark;
    
    &__suffix {
      color: $foreground-dark;
      font-size: $font-size-large;
      font-weight: bold;
    }
  }

  .paginate {
    font-weight: bold;

    &__list {
      display: -webkit-flex;
      display: flex;
      align-items: center;

      .page-number-for-sp {
        display: none;
      }

      @media screen and (max-width: $sp-max-width) {
        .page-number-for-sp {
          display: block;
        }

        & .first,
        & .last,
        & .page-number{
          display: none;
        }
      }

      &__item {
        padding: 0 16px 0 0;

        & .button > svg {
          height: 9px;
          width: 9px;
        }

        & .paginate-previous > svg {
          transform: rotate(180deg);
        }
      }
    }

    & .last {
      padding: 10px 20px 10px 0;
    }

    & .first
    & .last {
      color: $foreground-light;
    }

    & .button {
      @extend %button;

      font-size: $font-size-smaller;
      width: 64px;
      height: 28px;
      line-height: 28px;
      border-color: $border-for-list-paging-button;
      border-radius: 7px;
      background: $background-for-list-paging-button;
      box-shadow: 0 1px 0 0 #d9d9d9;
    }

    & .paginate-link:hover {
      color: $accent-blue-dark;
    }

    & .button:hover {
      color: $accent-blue-dark;

      & > svg .arrow-in-paging-button__line {
        stroke: $accent-blue-dark;
      }
    }

    & .disabled {
      pointer-events: none;
      color: $foreground-light;

      & > svg .arrow-in-paging-button__line {
        stroke: $foreground-light;
      }
    }

    & .is-current {
      color: $accent-blue-dark
    }

    & .next,
    & .prev {
      padding-right: 0;
    }

    & .prev {
      margin-right: 4px;
    }
  }
}

.sale-items {
  margin: 0 $sale-item-margin-title 48px;
  @media screen and (max-width: $sp-max-width) {
    margin: 0 12px;
  }

  &__item {
    display: flex;

    padding-top: $sale-item-margin-title;
    padding-bottom: $sale-item-margin-title;

    border-bottom: solid $border-size-nav-item-separate;
    border-color: $border-color-gray;

    @media screen and (max-width: $sp-max-width) {
      display: block;
      padding: 0 0;
    }

    &__image-area {
      width: 57%;
      background: $border-color-gray;

      @media screen and (max-width: $sp-max-width) {
        width: 100%;
        margin: 12px 0;
      }

      &__container {
        width: 500px;
        margin: 0 auto;

        @media screen and (max-width: $sp-max-width) {
          width: 100%;
        }

        &__main-image {
          &__slider-arrow {
            width: 36px;
            height: 36px;

            position: absolute;
            top: 50%;

            z-index: 100;

            & > svg {
              filter: drop-shadow(0 1px 0 0 #C5CECD);
            }

            &.next {
              right: -62px;
              
              &:hover > svg .arrow-for-image-list-next__guide__polyline {
                stroke: $accent-blue-dark;
              }

              @media screen and (max-width: $sp-max-width) {
                right: -15px;
              }
            }

            &.prev {
              left: -62px;

              &:hover > svg .arrow-for-image-list-prev__guide__polyline {
                stroke: $accent-blue-dark;
              }

              @media screen and (max-width: $sp-max-width) {
                left: -15px;
              }
            }
          }
        }

        .slick-track {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 375px;

          @media screen and (max-width: $sp-max-width) {
            height: calc(100vw - 24px);
          }

          .slick-slide {
            height: inherit;
            position: relative;

            background-color: $background-dark;

            & > div > img {
              width: auto !important;
              height: auto !important;
              max-width: 500px;
              max-height: 375px;

              position: absolute;

              left: 50%;
              top: 50%;

              transform: translateX(-50%) translateY(-50%);
            }
          }
        }

        &__thumbnails {
          padding-top: 16px;
          padding-bottom: 20px;

          display: flex;
          flex-wrap: wrap;

          @media screen and (max-width: $sp-max-width) {
            padding-top: 4px;
            padding-bottom: 0;
          }

          &__item {
            background-color: $background-dark;
            margin-right: 4px;
            margin-bottom: 4px;

            height: 44px;
            width: 59px;

            position: relative;

            & > img {
              max-height: 44px;
              max-width: 59px;

              position: absolute;
              
              left: 50%;
              top: 50%;

              transform: translateY(-50%) translateX(-50%);
            }
          }
        }
      }
    }

    &__context {
      width: calc(43% - 24px);
      margin-left: 24px;

      @media screen and (max-width: $sp-max-width) {
        width: 100%;
        margin-top: 12px;
        margin-left: 0;
      }

      &__info {
        &__id {
          font-size: $font-size-small;
          text-align: right;
          color: $foreground-gray;
        }

        &__category {
          font-size: $font-size-default;
          font-weight: bold;
        }

        &__maker {
          margin-top: 21px;
          font-size: $font-size-small;
        }

        &__model {
          margin-top: 5px;
          font-size: 24px;
          font-weight: bold;
        }

        &__price-info {
          margin-top: 13px;
          font-size: $font-size-smaller;

          &__title {
            &::after {
              content: "：";
            }
          }

          &__price {
            display: block;
            color: $accent-red-dark;
            font-size: $font-size-page-title-small-pc;
            font-weight: bold;
          }

          &__currency {
            font-size: $font-size-large;
            font-weight: bold;
          }

          &__tax {
            color: $foreground-gray;
            font-size: $font-size-small;
          }
        }

        &__detail {
          margin-top: 16px;
          border-radius: 0 50px 50px 0;
          display: flex;

          &__item {
            margin: 0 0 16px;
            padding: 0 12px;
            font-size: $font-size-smaller;
            color: $foreground-gray;
            border-left: solid $border-size-nav-item-separate $border-color-gray;

            &:last-child {
              border-right: solid $border-size-nav-item-separate $border-color-gray;
            }

            &__title {
              color: $foreground-dark;

              &::after {
                content: "：";
              }
            }

            &__value {
              margin: 8px 0 0;
              font-size: $font-size-large;
              font-weight: bold;
              color: $foreground-gray;

              &__unit {
                margin-left: 4px;
                font-size: $font-size-small;
                color: $foreground-gray;
                font-weight: normal;
              }
            }
          }
        }

        &__consultation {
          background-color: $accent-red-light;
          padding: 16px 18px  16px 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: $sp-max-width) {
            display: block;
          }
          
          &__button {
            @extend %button-large;

            color: $foreground-white;
            background: $background-for-red-button;
            border-color: $border-for-red-button;
            box-shadow: $box-shadow-red-button-for-large-button;
            display: inline-block;

            @media screen and (max-width: $sp-max-width) {
              display: block;
            }

            &:hover {
              color: $foreground-white;
              background: $background-for-red-button-hover;
              border-color: $border-for-red-button;
            }
          }

          &__links {
            margin-left: 12px;
            display: inline-block;
            font-size: $font-size-smaller;
            font-weight: bold;

            &__item {
              display: block;

              &:nth-child(n+2) {
                margin-top: 8px;
              }

              &__business-img,
              &__consumer-img {
                margin-right: 8px;
              }

              &__business-link {
                color: $accent-skyblue;

                &:hover {
                  color: $accent-skyblue;
                }
              }
            }
          }

          &__sold {
            font-size: $font-size-default;
            font-weight: bold;
            text-align: center;
          }
        }

        &__announce {
          position: relative;

          padding: 10px;
          margin-bottom: 32px;
          border: 1px solid #F0F0F0;

          font-size: $font-size-smaller;
          line-height: 1.5;

          &__list {
            margin-left: 26px;

            &__title {
              position: relative;
              display: inline-block;
              vertical-align: top;

              &::after {
                content: "：";
              }

              &.is-warning::before {
                content: "";
                background-image: url("/images/warning.png");
                position: absolute;
                top: 2px;
                left: calc(-1em - 10px);
                width: 12px;
                height: 12px;
              }
            }
            &__content {
              display: inline-block;
            }
          }

          &__link-to-guide {
            position: absolute;
            right: 16px;
            bottom:10px;
          }
        }
      }

      &__remark {
        margin: 18px 0;
        line-height: 1.8;

        @media screen and (max-width: $sp-max-width) {
          margin: 0 0;
          padding: 24px 0 48px;
        }

        &.is-close > &__text {
          height: 200px;
          overflow: hidden;
        }

        &__controller {
          text-align: center;

          &__button {
            margin-top: $sale-item-margin-title;
            margin-bottom: $sale-item-margin-title;

            border: none;
            text-decoration: underline;

            @media screen and (max-width: $sp-max-width) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.empty-items {
  margin: 96px auto;
  text-align: center;

  &__message {
    font-size: $font-size-larger;
    font-weight: bold;
  }

  &__information {
    margin-top: 64px;
    color: $foreground-gray;
    line-height: 1.5;
  }

  &__inquiry {
    margin-top: $sale-item-margin-title;
    font-weight: bold;
  }
}