.sale-item {
  &__detail {
    padding-bottom: 30px;
    box-sizing: border-box;
    border-bottom: solid 2px $base-brown;

    .detail {
      padding: 15px;
      margin-top: 10px;
    }

    .table {
      width: 100%;
      display: block;
      padding: 5px 15px;
      margin: 0;

      caption {
        display: block;
        font-weight: bold;
        padding-bottom: 8px;
      }

      tbody {
        display: block;
        background-color: #eee;
      }

      tr, th, td {
        border: none;
      }

      th {
        @media screen and (min-width: 400px) {
          min-width: 100px; 
        }
        @media screen and (max-width: 399px) {
          min-width: 60px; 
        }
      }

      .other {
        white-space: pre-line;
      }
    }
  }
}
