.sale-item {
  &__detail {
    padding-bottom: 40px;
    box-sizing: border-box;
    border-bottom: solid 2px $base-brown;

    .title {
      .tax-annotation {
        font-size: 1rem;
      }
    }

    .slick-slide-container {
      .slick-slider {
         margin-bottom: 30px;
         line-height: 1rem;
       }

      .slick-slide {
        img {
          max-height: 400px;
          width: auto !important; // javascriptで要素にwidthが付与されてしまうため
        }
      }

      .slick-track {
        align-items: center;
        display: flex;
        background: whitesmoke;
      }

      .thumbnail-container {
        align-items: center;
      }
    }

    .thumbnail-list {
      width: 300px;
      margin: 0px auto;
      padding-top: 10px;
    }
    .thumbnail-item{
      margin-bottom: 10px;
      box-sizing: border-box;
      &:after{
        background-color: rgba(0,0,0,0.5);
        opacity: 1;
      }
      &.thumbnail-current:after{
        opacity: 0;
      }
      img{
        width: 100%;
        margin: 0 auto;
      }
    }

    .buttons {
      border-bottom: solid 2px $base-brown;
      padding: 10px 0;

      .form-button {
        width: 100%;
        margin: 0;
        font-weight: bold;
        font-size: 1.2rem;
        box-sizing: border-box;

        &.phone-button {
          color: white;
          background-color: $base-brown;
          margin-bottom: 10px;
          height: 60px;

          margin-bottom: -10px;

          &:hover {
            background-color: darken($base-brown, 10%);
          }
        }

        &.contact-button {
          color: $base-brown;
          border: solid 1px $base-brown;
          display: block;
          margin-bottom: 10px;
          height: auto;

          padding-left: 0.4rem;
          padding-right: 0.4rem;

          span {
            @media screen and (min-width: 400px) {
              > .only-sp {
                display: none;
              }
            }
            @media screen and (max-width: 399px) {
              font-size: 14px;
            }
          }
          &:hover {
            background-color: darken(white, 10%);
          }

          .item-id-alert {
            font-size: 0.9rem;

            @include until($tablet) {
              font-size: 0.6rem;
            }
          }
        }
      }
    }

    .detail {
      padding: 15px;
      margin-top: 10px;
    }

    .table {
      width: 100%;
      display: block;
      padding: 5px 15px;
      margin: 0;

      caption {
        display: block;
        font-weight: bold;
        padding-bottom: 8px;
      }

      tbody {
        display: block;
        background-color: #eee;
      }

      tr, th, td {
        border: none;
      }

      th {
        @media screen and (min-width: 400px) {
          min-width: 100px; 
        }
        @media screen and (max-width: 399px) {
          min-width: 60px; 
        }
      }

      .other {
        white-space: pre-line;
      }
    }
  }
}

.sale-items {
  @media screen and (min-width: 769px) {
    .only-mobile {
      display: none !important;
    }
  }

  @media screen and (max-width: 768px) {
    .except-mobile {
      display: none !important;
    }

    .column {
      padding: 0 0.75rem;

      &:last-child {
        .feature-box-mobile {
          border-bottom: none;
        }
      }
    }
  }

  .cover {
    background: image-url("sale_items/cover.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px; // TODO: 仮
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2rem;

    .title {
      background-color: #231815;
      opacity: .9;
      color: white;
      padding: 5px 20px 16px 20px;
      text-align: center;

      .site-name {
        font-size: 1.5rem;
      }
    }
  }

  .section {
    .section-title {
      color: white;
      background-color: #13202f;
      text-align: center;
      margin-bottom: 16px;
      padding: 8px 0;
    }
  }

  // ファーマリー3つの安心
  .feature-section {
    padding: 3rem 1.5rem 0 1.5rem;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
      .column {
        padding: 0 0.75rem;

        &:last-child {
          .feature-box-mobile {
            border-bottom: none;
          }
        }
      }
    }

    .feature-box-mobile {
      display: flex;
      align-items: center;
      border-bottom: 1px solid gray;
      padding: 0.75rem;

      .feature-mobile-left {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 8px;

        img {
          width: 70px;
        }
      }

      .feature-mobile-right {
        flex: 7;

        .column-title {
          text-align: left;
        }
      }
    }

    .feature-box {
      border: 3px solid #06adf7;
      border-radius: 24px;
      padding: 16px;

      .column {
        padding: 8px 16px;
      }
    }

    .column-title {
      text-align: center;
      color: #06adf7;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .column-image {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100px;
      }
    }
  }

  // 購入の流れ
  .flow-of-purchase-section {
    margin-bottom: 60px;
    padding: 0 1.5rem;

    .step-title {
      text-align: center;
      font-weight: bold;
      border-bottom: 2px solid;
      padding-bottom: 0.2rem;
    }

    .steps {
      display: flex;

      .step {
        flex: 1;
        padding: 0 1rem;
        height: 100%;
      }
    }

    .step-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 24px;

      .step-circle {
        display: inline-block;
        color: #fff;
        background-color: #02669a;
        border: solid 2px #ebebeb;
        width: 120px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #02669a;
        -webkit-box-shadow: 0 0 0 3px #02669a;
        -moz-box-shadow: 0 0 0 3px #02669a;


        @media screen and (max-width: 768px) {
          width: 60px;
          height: 60px;
        }

        .step-circle-text {
          text-align: center;
        }
      }

      .step-text {
        flex: 1;
        margin-left: 16px;
        font-size: 0.9rem;
      }
    }
  }

  .sale-item-list {
    padding: 0;

    .container {
      margin: 0 1.5rem 1.5rem 1.5rem;
      max-width: 100%;
      width: auto;
    }
  }
}
