.sell-case-box.cassette {

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  .box {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    img {
      object-fit: contain;
    }

    @include from(757px) {
      img {
        // FIXME:
        max-width: 350px;
        max-height: 260px;
        object-fit: contain;
      }
    }


    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 16px;

      .heading {
        margin-bottom: 0
      }

      .cta {
        align-self: flex-end;
        width: 100%;
      }
    }
  }
}
