.sell-lp {
  .sell-lp-section {
    margin-bottom: 2rem;
  }

  .cover {
    background: image-url("eye-catch.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding-bottom: 2.5rem;

    .cover-contents {
      background-color: black;
      opacity: .9;
      width: 60%;

      .column {
        margin: 2rem;
      }

      .cover-title {
        .title {
          color: white;
          text-align: center;
        }

        .cover-title-box-container {
          display: flex;
          flex-direction: row;

          .cover-title-box {
            border: 2px solid white;
            border-radius: 4px;
            text-align: center;
            margin: 0 1rem;
            width: 100%;
          }
        }
      }
    }
  }

  .button-section {
    .button-section-title {
      background-color: #243138;
      text-align: center;
      color: white;
      margin-bottom: 1rem;

      .title {
        color: white;
      }

      .button-section-title-caption {
      }
    }

    .buttons-columns {
      .button-column {
        border-radius: 4px;
        padding: 0;
        color: white;
        text-align: center;

        .column-title {
          border-radius: 4px;
        }

        .column-highlight {
          border-radius: 4px;
          width: 50%;
          margin: 0 auto;
        }

        &.column-tel {
          background-color: #008a92;
          margin-right: 1rem;

          .column-title, .column-highlight {
            background-color: #00646e;
          }
        }

        &.column-line {
          background-color: #00bc00;
          margin-right: 1rem;

          .column-title, .column-highlight {
            background-color: #00b000;
          }
        }

        &.column-mail {
          background-color: #ce4051;

          .column-title, .column-highlight {
            background-color: #bc3646;
          }
        }
      }
    }
  }

  .title-cover {
    display: flex;
    height: 300px;
    margin-bottom: 2rem;

    &.title-cover-reason {
      background: image-url("sell/cover-title-reason.png") center center / cover no-repeat;
    }

    &.title-cover-item {
      background: image-url("sell/cover-title-item.png") center center / cover no-repeat;
    }

    &.title-cover-users-voice {
      background: image-url("sell/cover-title-users-voice.png") center center / cover no-repeat;
    }

    &.title-cover-point {
      background: image-url("sell/cover-title-point.png") center center / cover no-repeat;
    }

    .cover-title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      .cover-title-line {
        background-color: white;
        color: black;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
        padding: 0.4rem;
        font-weight: bold;
        border-radius: 4px;
      }
    }

    .cover-image {
      width: 100%;
    }
  }

  .reason {
    margin-bottom: 1rem;
    display: flex;
    height: 14rem;

    .reason-left {
      background-color: #f9f9f9;
      padding: 1rem;
      font-weight: bold;
      width: 100%;
      height: 14rem;
    }

    .reason-right {
      height: 14rem;
    }

    &.reason-red {
      border-left: 6px solid #fb3c3c;
      border-radius: 4px;
    }

    &.reason-green {
      border-left: 6px solid #128b8e;
      border-radius: 4px;
    }

    &.reason-yellow {
      border-left: 6px solid #feba53;
      border-radius: 4px;
    }

    .reason-title {
      background-color: #243138;
      color: white;
      padding: .5rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }

  .reason-summary {
    display: flex;
    align-items: center;
    justify-content: center;

    .reason-summary-staff-image {
      margin-right: 1rem;
      img {
        height: 5rem;
      }
    }

    .reason-summary-message {
      font-weight: bold;
    }
  }

  .sell-lp-section-users-voice {
    background-color: #f9f9f9;
    font-weight: bold;

    .user-voice {
      margin-bottom: 2rem;

      .user-voice-title {
        background-color: #243138;
        color: white;
        padding: 0.5rem 1.5rem;
        border-radius: 4px;
      }

      .user-voice-contents {
        background-color: white;
        display: flex;
        padding: 1rem;
        margin-left: 1%;
        width: 99%;
        border-radius: 4px;

        .user-voice-left {
          .user-voice-image {

          }

          .user-voice-name {

          }
        }

        .user-voice-right {
          padding: 0 1rem;
          line-height: 2;

          .user-voice-comment {
          }

          .user-voice-detail {
            text-align: right;
          }
        }
      }
    }
  }

  .point-title-cover {
    background: image-url("sell/point-title-cover.png") center center / cover no-repeat;
    height: 501px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;

    .point-title-cover-title {
      color: white;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      line-height: 2rem;
    }

    .point-title-cover-description {
      color: white;
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}
