<section class="section container">
  <article class="category-about">
    <h2 class="about-title">
      トラクターとは
    </h2>
    <div class="about-contents">
      <p>
        トラクター（tractor、ラテン語trahere「引く」に由来）は、それ自体で推進できないものを牽引したり、しばしば動力を供給したりする装置である。 トラクターとは被牽引車を引っ張る牽引車の事を指す。
      </p>
    </div>
  </article>


</section>

<% set_meta_tags title: "#{@title}一覧" %>
<%= render partial: '/item_list_page', locals: { sub_categories: @category.sub_categories } %>
