<% breadcrumbs do |links| %>
  <% if links.any? %>
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <% links.each_with_index do |link, index| %>
          <% if link.current? %>
            <li class='is-active' >
              <a href="#" aria-current="page"><%= link.text %></a>
            </li>
          <% else %>
            <li>
              <a href="<%= link.url %>"><%= link.text %></a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  <% end %>
<% end %>
