<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <% @breadcrumb.each_with_index do |b| %>
      <li <%= b.equal? @breadcrumb.last ? "class='is-active'" : "" %>
        <a href="<%= b['path'] %>"><%= b['name'] %></a>
      </li>
    <% end %>
  </ul>
</nav>