<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <aside class="menu">
          <p class="menu-label">
            Farmally
          </p>
          <ul class="menu-list">
            <li>
              <a href="/terms-of-service" rel="nofollow">
                ご利用規約
              </a>
            </li>
            <li>
              <a href="/privacy-policy" rel="nofollow">
                プライバシーポリシー
              </a>
            </li>
            <li>
              <a href="/specified-commercial" rel="nofollow">
                特定商取引法に基づく表記
              </a>
            </li>
            <li>
          </ul>
        </aside>
      </div>

      <div class="column is-4">
        <aside class="menu">
          <p class="menu-label">
            関連リンク
          </p>
          <ul class="menu-list">
            <li>
              <a href="#" target="_blank">
                TODO: Add farmallyの会社名
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column is-4">
        <p class="has-text-grey">
          Farmally, Inc. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
