<section class="hero is-white is-small">
  <div class="hero-head">
    <header class="navbar is-fixed-top" id="navbar">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="logo-name">ファーマリー</span>
        </a>
        <a role="button" class="navbar-burger" id="navbarBurger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item">
            TOP
          </a>

          <a class="navbar-item">
            農機を買いたい
          </a>

          <a class="navbar-item">
            農機を売りたい
          </a>

          <a class="navbar-item">
            ブログ
          </a>
        </div>
      </div>


      <div id="search"></div>
    </header>
  </div>
  <% if flash.present? %>
    <div class="notification is-<%= flash.first[0] %>">
      <button class="delete"></button>
      <p><%= flash.first[1] %></p>
    </div>
  <% end %>
</section>
