<header class="navbar has-shadow" id="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="logo" src="/logo.png" alt="Logo">
      </a>
      <div class="navbar-burger burger" id="navbarBurger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu" id="navMenuDocumentation" >
<!--      <div class="navbar-end">-->
<!--        <div class="navbar-item has-dropdown is-hoverable">-->
<!--          <a class="navbar-link">-->
<!--            <span class="icon is-small is-left">-->
<!--              <i aria-hidden="true" class="fa fa-user"></i>-->
<!--            </span>-->
<!--          &nbsp;-->
<!--          <span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>-->
<!--          <span class="icon is-small is-left">-->
<!--              <i aria-hidden="true" class="fa fa-building"></i>-->
<!--            </span>-->
<!--          &nbsp;-->
<!--        </a>-->
<!--          <div class="navbar-dropdown is-right">-->
<!--            <a class="navbar-item">-->
<!--              <i aria-hidden="true" class="fa fa-sign-out"></i>-->
<!--              ログアウト-->
<!--            </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</header>