<section class="hero is-white is-small">
  <div class="hero-head">
    <header class="navbar is-fixed-top" id="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <span class="logo-name">ファーマリー</span>
          </a>
          <div class="navbar-burger burger" id="navbarBurger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="search"></div>
      </div>
    </header>
  </div>
  <% if flash.present? %>
    <div class="notification is-<%= flash.first[0] %>">
      <button class="delete"></button>
      <p><%= flash.first[1] %></p>
    </div>
  <% end %>
</section>
